body {
	background-color: black;
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	-webkit-tap-highlight-color: transparent;
}

#refreshIcon {
	visibility: hidden;
}

#playIcon {
	visibility: hidden;
}

#pauseIcon {
	visibility: hidden;
}

.chips {
	visibility: hidden;
}

#startIcon {
	visibility: hidden;
}

#chipStack {
	visibility: hidden;
}

#blackBackground {
	visibility: hidden;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 80%;
	z-index: 2;
}

#startingChips {
	border: 0;
	position: absolute;
	background-color: rgb(20, 20, 20);
	color: #4d4d4d;
	text-align: center;
	z-index: 3;
}
